div.sheet {
    background-image: url('PetitionSheet.jpg');
}

div.id {
    padding-left: 61mm;
    padding-top: 104mm;
    font-size: 23px;
    letter-spacing: 11px;
}

div.year {
    padding-left: 60mm;
    padding-top: 114mm;
    font-size: 23px;
}

div.month {
    padding-left: 86mm;
    padding-top: 114mm;
    font-size: 23px;
}

div.date {
    padding-left: 108mm;
    padding-top: 114mm;
    font-size: 23px;
}

div.province {
    padding-left: 70mm;
    padding-top: 126mm;
    font-size: 20px;
}

div.province_1_circle {
    padding-left: 89mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.province_2_circle {
    padding-left: 97mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.county {
    padding-left: 112mm;
    padding-top: 126mm;
    font-size: 20px;
}

div.county_1_circle {
    padding-left: 134mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.county_2_circle {
    padding-left: 143mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.district {
    padding-left: 157mm;
    padding-top: 126mm;
    font-size: 20px;
}

div.district_1_circle {
    padding-left: 181mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.district_2_circle {
    padding-left: 189mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.district_3_circle {
    padding-left: 200mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.district_4_circle {
    padding-left: 211mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.village {
    padding-left: 228mm;
    padding-top: 126mm;
    font-size: 20px;
}

div.village_1_circle {
    padding-left: 249mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.village_2_circle {
    padding-left: 258mm;
    padding-top: 121mm;
    font-size: 45px;
}

div.neighbor {
    padding-left: 70mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.road {
    padding-left: 97mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.road_1_circle {
    padding-left: 134mm;
    padding-top: 129mm;
    font-size: 45px;
}

div.road_2_circle {
    padding-left: 143mm;
    padding-top: 129mm;
    font-size: 45px;
}

div.section {
    padding-left: 157mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.lane {
    padding-left: 178mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.alley {
    padding-left: 200mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.number {
    padding-left: 218mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.floor {
    padding-left: 240mm;
    padding-top: 134mm;
    font-size: 20px;
}

div.part {
    padding-left: 263mm;
    padding-top: 134mm;
    font-size: 20px;
}
