div.sheet {
    background-image: url('PetitionSheet.jpg');
}

div.id {
    padding-left: 56mm;
    padding-top: 112mm;
    font-size: 23px;
    letter-spacing: 12px;
}

div.year {
    padding-left: 56mm;
    padding-top: 123mm;
    font-size: 23px;
}

div.month {
    padding-left: 84mm;
    padding-top: 123mm;
    font-size: 23px;
}

div.date {
    padding-left: 106mm;
    padding-top: 123mm;
    font-size: 23px;
}

div.province {
    padding-left: 65mm;
    padding-top: 135mm;
    font-size: 20px;
}

div.province_1_circle {
    padding-left: 86mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.province_2_circle {
    padding-left: 94mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.county {
    padding-left: 112mm;
    padding-top: 135mm;
    font-size: 20px;
}

div.county_1_circle {
    padding-left: 133mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.county_2_circle {
    padding-left: 142mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.district {
    padding-left: 157mm;
    padding-top: 135mm;
    font-size: 20px;
}

div.district_1_circle {
    padding-left: 182mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.district_2_circle {
    padding-left: 190mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.district_3_circle {
    padding-left: 202mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.district_4_circle {
    padding-left: 213mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.village {
    padding-left: 233mm;
    padding-top: 135mm;
    font-size: 20px;
}

div.village_1_circle {
    padding-left: 253mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.village_2_circle {
    padding-left: 262mm;
    padding-top: 130mm;
    font-size: 45px;
}

div.neighbor {
    padding-left: 65mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.road {
    padding-left: 97mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.road_1_circle {
    padding-left: 133mm;
    padding-top: 138mm;
    font-size: 45px;
}

div.road_2_circle {
    padding-left: 142mm;
    padding-top: 138mm;
    font-size: 45px;
}

div.section {
    padding-left: 157mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.lane {
    padding-left: 179mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.alley {
    padding-left: 201mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.number {
    padding-left: 221mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.floor {
    padding-left: 244mm;
    padding-top: 143mm;
    font-size: 20px;
}

div.part {
    padding-left: 267mm;
    padding-top: 143mm;
    font-size: 20px;
}
